<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns=""
    id="com.enJapan.plugins.partytrack"
    version="0.0.0">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
  <name>Partytrack Plugin</name>
  <description>Simple tracking for PartyTrack SDK (iOS)</description>
  <author>Junji Watanabe</author>
  <license>MIT License</license>
  <js-module src="www/partytrack.js" name="Partytrack">
    <clobbers target="partytrack" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Partytrack">
        <param name="ios-package" value="PartytrackPlugin" />
      </feature>
    </config-file>

    <header-file src="ios/PartytrackPlugin.h" />
    <source-file src="ios/PartytrackPlugin.m" />
    <header-file src="ios/Partytrack.h" />
    <header-file src="ios/PTSenderDelegate.h" />
    <source-file src="ios/partytrack" framework="true" />

    <framework src="CoreData.framework" />
    <framework src="UIKit.framework" />
    <framework src="Foundation.framework" />
    <framework src="Security.framework" />
    <framework src="AdSupport.framework" />
    <framework src="iAd.framework" />
  </platform>
</plugin>
